---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <div class="about-page">
    <h1>About</h1>
    <p>
      Hi 👋<br />
      I'm Michał, a web game and front-end developer and this is my blog about web programming.
    </p>
    <p>📫 How to reach me:</p>
    <ul>
      <li>you can send an email to <a href="mailto:mterczynski1@gmail.com">mterczynski1@gmail.com</a></li>
      <li>or you can reach me out on <a href="https://www.linkedin.com/in/mterczynski/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
    </ul>
    <p>
      📱 Website with my projects &rarr; <a href="https://www.mter.pl" target="_blank" rel="noopener noreferrer">www.mter.pl</a><br />
      📚 My GitHub profile &rarr; <a href="https://github.com/mterczynski/" target="_blank" rel="noopener noreferrer">github.com/mterczynski</a>
    </p>
  </div>
</Layout>
